{% extends '::base.html.twig' %}

{% block title %}Create Category{% endblock %}

{% block body %}
<h1>{{ action }} a category!</h1>

{% if form.vars.errors is not empty %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div>
    {{ form(form) }}
</div>
{% endblock %}
